{{> header}}
<main class="blog-main">
    <section class="special-offers-blog">
        <div class="section-inner-blog">
            <div class="tour-cards-blog">
                <div class="tour-card-blog">
                    <img src="1.jpg" alt="Amsterdam">
                    <div class="card-inner-blog">
                        <h3>WHAT TO EXPECT IN AMSTERDAM</h3>
                        <p>Amsterdam has a fascinating history and is part of the reason this city is on so many
                            travelers’ bucket lists. It’s truly one-of-a-kind, and offers so many different kinds of
                            experiences. Here are some things you should know before traveling to Amsterdam...</p>
                        <a href="#">Read more</a>
                    </div>
                </div>


            </div>
        </div>
        </div>
        <div class="tour-cards-blog">
            <div class="tour-card-blog">
                <img src="2.jpg" alt="Austria">
                <div class="card-inner-blog">
                    <h3>AUSTRIA TRAVEL GUIDE</h3>
                    <p>Austria is a country with a wide variety of weather, so deciding on when to visit all depends on
                        the activities you want to partake in. Overall, the best time to visit Austria is between April
                        and May and September and October...</p>
                    <a href="#">Read more</a>
                </div>
            </div>
            <div class="tour-cards-blog">
                <div class="tour-card-blog">
                    <img src="3.jpg" alt="Barcelona">
                    <div class="card-inner-blog">
                        <h3>GETTING AROUND IN BARCELONA</h3>
                        <p>Barcelona is an amazing city but, as with any big city, you need to use your street smarts
                            and follow basic travel safety. Pickpocket and bag snatching is a big issue here, so do your
                            best to secure your valuables, blend in and don’t look like a tourist...</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
                <div class="tour-cards-blog">
                    <div class="tour-card-blog">
                        <img src="4.jpg" alt="HORSE">
                        <div class="card-inner-blog">
                            <h3>BEST PLACES FOR HORSE RIDING HOLIDAYS</h3>
                            <p>Spending your holiday exploring a new country on horseback might seem like an unusual way
                                to travel, but horseback riding holidays are growing in popularity as a unique and
                                alternative way to see the countryside or coastline of an area, or as a way to learn
                                something new on your trip...</p>
                            <a href="#">Read more</a>
                        </div>
                    </div>
                    <div class="tour-cards-blog">
                        <div class="tour-card-blog">
                            <img src="5.jpg" alt="Ocean">
                            <div class="card-inner-blog">
                                <h3>THE BEST PLACES WITH OCEAN POOLS</h3>
                                <p>Oceans are not just our planet’s most precious resource: they’re also incredible
                                    places to take a dip. With no chlorine, no icky changing rooms and the ever-changing
                                    natural surroundings of tides, weather and sealife, swimming in the open sea is an
                                    addictive thrill...</p>
                                <a href="#">Read more</a>
                            </div>
                        </div>

    </section>
    <section>
        <div class="vidoe-wrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tntJWPhwCzQ" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WLSnrXEtrT4" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>
</main>