<footer>
    <div class="footer-inner">
        <div class="footer-contacts">
            <h2>Contact us</h2>
            <a href="tel:+380 (66) 666-66-66">+380 (66) 66-66-66</a>
            <br>
            <a href="mailto:example.email@address.com">andrijv.nadija@gmail.com</a>
        </div>
        <div class="footer-legal">
            © Copyright, 2021
        </div>
    </div>
</footer>
