<header >
    <div class="header-wrapper" >
        <img class="logo" src="logo.png">
        <nav class="menu mb-5">
            <ul>
                <li><a class="active" href="home">Home</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="about">About</a></li>
            </ul>
        </nav>
        <div>
            {{Auth user}}
        </div>
    </div>
</header>

